.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.main-section h1 span {
    background: blue;
    color: white;
    padding: 10px;
    text-decoration: dashed;
    text-underline: yellow;
}
